{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>options</th>
                <th>Actions</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
            {% for panierproduct in panier.getProducts %}
                <td>{{ panierproduct.getName() }} prix : {{ panierproduct.getPrice() }}€</td>
            {% endfor %}
            <td>{% for panieroption in panier.getOptions %}
            <p> {{ panieroption.getName() }} prix : {{ panieroption.getPrice() }}€ </p>
            {% endfor %}</td>

                <td> Supprimer</td>
                <td>10€</td>
            </tr>        
        {% else %}
            <tr>
                <td colspan="4">Aucun produit trouvé !</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <h1>100€ </h1> 
{% endblock %}