{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.name }}</td>
                <td>{{ produit.price }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun produit trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
