{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ produit.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.price }}</td>
            </tr>
            {# <form> #}
            {% for option in options %}
                {# <tr>
                    <td>
                        <input type="checkbox" id="{{ option.name }}" name="{{ option.name }}">
                        <label for="{{ option.name }}">{{ option.name }} | {{ option.price }} €</label>
                    </td>
                </tr> #}
            {% else %}
                <td>Pas d'option disponible !</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {# <input type="submit"><a href="{{ path('ajout_panier', {'id': produit.id}) }}">Ajouter au panier</input> #}
    {# </form> #}
    {#<button class="btn btn-secondary"><a href="{{ path('produit_index') }}">Retour à la liste</a></button> #}
{% endblock %}
